@font-face{
font-family:'scriptina';
src:url('../font/SCRIPTIN.ttf');
font-weight: bold;
font-style:normal;
}
@font-face{
font-family:'proxima nova';
src:url('../font/Mark Simonson - Proxima Nova Alt Regular-webfont.ttf');
/*src:url('../font/SCRIPTIN.woff')format('woff');*/
font-weight:normal;
font-style:normal;}
*{
	margin:0;
	padding:0;
}
@keyframes bg{
    0%  {background:url('../img/xmas1.jpg');}
    50% {background:url('../img/xmas2.jpg');}
    100% {background:url('../img/xmas3.jpg');}
}

body{
	animation: bg 12s ease infinite;
	background:url('../img/xmas2.jpg');
	height:750px;
	position: absolute;
	top:0;
	right: 0;
    bottom: 0;
    left: 0;
}
h1{
	font-size: 5em;
	font-family:'scriptina';
	font-weight: bold;
	text-align: center;
	color:#ffffff;
	margin-bottom: 80px;
}
h2{
	font-family:'proxima nova';
	font-size: 2em;
	color:#ffffff;
	text-align: center;
	
}
.wish{
	margin-bottom: 70px;
}
@keyframes title {
    0%  { color:#3f51b5;}
    25%  { color: #FFFFFF;}
    50%  { color: #F8DEBD;}
    75%  { color:#9e9e9e;}
    100% { color: #ec538b;}
}

h1 {
	animation: title 8s ease infinite;
}
@keyframes opaciti{
	0%{opacity: 1;}
	25%{opacity: 0.9;};
	50%{opacity: 0.6;}
	75%{opacity: 0.2;}
	100%{opacity:0;}
}
.img-side{
	margin-bottom: 80px;
}

.row img{
	width:400px;
	height: 300px;
	box-shadow: 0px 0px 15px white;
	animation: opaciti 10s ease-in-out infinite;
}
.side-right,.side-left{
	text-align: center;

}
p{
	font-weight: bold;
	background-color:#4d6ba0;
	color:#fff;
	font-size: 15px;
	line-height: 30px;
	
}

/*************snow***************/

#snow{
	background: none;
	font-family: Androgyne;
	background-image:   
		url(https://image.ibb.co/k0aqx6/snow.png), 
        url(https://image.ibb.co/eCahc6/snow1.png), 
        url(https://image.ibb.co/bOboH6/snow2.png);
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index:1;
	-webkit-animation: snow 10s linear infinite;
	-moz-animation: snow 10s linear infinite;
	-ms-animation: snow 10s linear infinite;
	animation: snow 10s linear infinite;
}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}	
/**********************animated******************/

@-webkit-keyframes fadeInUpDelay {
    0% { opacity: 0; -webkit-transform: translateY(20px); transform: translateY(20px); }
    100% { opacity: 1; -webkit-transform: translateY(0); transform: translateY(0); }
}
@keyframes fadeInUpDelay {
    0% { opacity: 0; -webkit-transform: translateY(20px); -ms-transform: translateY(20px); transform: translateY(20px); }
    100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
}
.fadeInUpDelay { -webkit-animation-name: fadeInUpDelay; animation-name: fadeInUpDelay; animation-delay: 5s; -webkit-animation-delay: 5s; }
